.carousel-container {
   display: flex;
   margin-top: 100px;
}

.carousel-viewport {
   white-space: nowrap;
   overflow-y: hidden;
   overflow-x: auto;
   border: 1px solid black;
   -webkit-overflow-scrolling: touch;
   z-index: 1;
}


.carousel-viewport::-webkit-scrollbar {
   display: none;
}

.carousel-nav {
   opacity: .8;
   border: 1px solid black;
   transition: opacity .2s ease-in-out;
   z-index: 3;
}